
TicTacToe/.vs/TicTacToe/v16/.suo

TicTacToe/Calisthenic/obj/

TicTacToe/.vs/TicTacToe/DesignTimeBuild/.dtbcache.v2

TicTacToe/Calisthenic/bin/Debug/netcoreapp3.1/

TicTacToe/TicTacToe.sln.DotSettings.user
